<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name="com.malfreyt.alexandre.pops_app.AutofillProbeService"
            android:exported="true" android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/autofill_probe" />
        </service>
    </application>
</manifest>
